body > header {
  height: 400px;
  width: 100%;
  background-color: #b5a2da;
  background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
  padding: 1em;
  text-align: center;
}

#avatar {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
