nav {
  height: 120px;
  width: 100%;
  background-color: coral;
  color: #ffffff;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

span.logo {
  font-family: "Bungee", cursive;
  font-size: 45px;
}

span.submit-button:hover {
  font-weight: bolder;
}

span.submit-button {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  nav {
    margin-bottom: 3em;
  }
}
