nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}

span.logo {
  font-family: "Bungee", cursive;
  font-size: 45px;
}

span.submit-button:hover {
  font-weight: bolder;
}
