.tweet-submit {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

.tweet-submit button {
  background-color: #4056a1;
  color: #ffffff;
}

#tweet-text {
  box-sizing: border-box;
  border: none;
  border-bottom: solid grey;
  width: 100%;
  background-color: #f4f1ec;
}

h2 {
  font-size: x-large;
  color: grey;
  align-self: flex-start;
}
