#tweets-container {
  width: 90%;
  background-color: #f4f1ec;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  margin-bottom: 15px;
}

.tweet {
  border: 5px solid grey;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-bottom: 20px;
}

.tweet > header {
  display: flex;
  justify-content: space-between;
}

.tweet > header a {
  display: none;
}

.tweet div.icons {
  display: none;
}

.tweet > header div {
  display: flex;
  justify-content: space-between;
}

.tweet > header img {
  width: 30px;
  height: auto;
}

.tweet:hover > header a {
  display: block;
  color: #7e7198;
}

.tweet:hover {
  font-weight: bolder;
  box-shadow: 5px 10px;
  display: block;
}

.tweet:hover div.icons {
  display: block;
}

.tweet > p {
  font-weight: bold;
  border-bottom: solid 2px grey;
}

.tweet > footer {
  font-size: small;
  display: flex;
  justify-content: space-between;
}
